button{
    background-color: blue;
    width: 20%;
}

body{
 background-color: antiquewhite;
 display: flex;
 flex-direction: column;
 justify-content: space-arounds;
 justify-content: center;
 align-items: center;
 width: 300px;
}